%div.notnice
  - @videos.reverse_each do |video|
    %ul.video_ul
      = raw video.url
      %div.comment_div
        = video.user.username + ':'
        = video.description
        = link_to 'Delete Video?', video_path(video), method: :delete, class: 'delete' if current_user.admin?
        - @comments.each do |comment|
          %ul.comment_ul
            = comment.user.username + ':'
            = comment.comment
            = link_to 'Delete Comment?', comment_path(comment), method: :delete, class: 'delete' if current_user.admin?
        %div
          - if current_user.present?
            = link_to 'Comment?', new_comment_path, class: 'comment'
